<?xml version="1.0" encoding="utf-8"?>
<Content Key="e807dcbd-87dd-4a15-a68d-2a65ebd4166d" Alias="První formulář" Level="2">
  <Info>
    <Parent Key="39ed64c6-0cd7-4ffd-81f7-fc81ee1596dc">Drbna</Parent>
    <Path>/Drbna/PrvniFormular</Path>
    <Trashed>false</Trashed>
    <ContentType>submissionWidget</ContentType>
    <CreateDate>2021-06-05T20:52:12</CreateDate>
    <NodeName Default="První formulář" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4811d082-e9f0-489b-b06f-c89773d5ade2">SubmissionWidget</Template>
  </Info>
  <Properties>
    <backToSiteButtonLabel>
      <Value><![CDATA[Pokračovat ve čtení Drbny]]></Value>
    </backToSiteButtonLabel>
    <backToSiteButtonURL>
      <Value><![CDATA[[]]]></Value>
    </backToSiteButtonURL>
    <callToActionBackgroudColour>
      <Value><![CDATA[red]]></Value>
    </callToActionBackgroudColour>
    <checkedInputColour>
      <Value><![CDATA[red]]></Value>
    </checkedInputColour>
    <collectionProcess>
      <Value><![CDATA[[
  {
    "key": "b26976fc-f7bc-4392-ad37-cb0b681aff82",
    "name": "Sběr témat",
    "ncContentTypeAlias": "processStep",
    "date": "1. 7. až 14. 7.",
    "label": "Sběr témat"
  },
  {
    "key": "0bac0922-11fd-4cb0-be28-9baa2cfaeb13",
    "name": "Hlasování",
    "ncContentTypeAlias": "processStep",
    "date": "20. 7. až 1. 8.",
    "label": "Hlasování"
  },
  {
    "key": "2299e652-599d-43e0-90dc-350502048241",
    "name": "Publikování zpracovaných témat",
    "ncContentTypeAlias": "processStep",
    "date": "Září a říjen",
    "label": "Publikování zpracovaných témat"
  }
]]]></Value>
    </collectionProcess>
    <collectionProcessCircleColour>
      <Value><![CDATA[]]></Value>
    </collectionProcessCircleColour>
    <ctaButtonText>
      <Value><![CDATA[Navrhněte téma]]></Value>
    </ctaButtonText>
    <ctaHeading>
      <Value><![CDATA[O čem by se na Drbně mělo psát?]]></Value>
    </ctaHeading>
    <descriptionFieldCaption>
      <Value><![CDATA[Popište téma]]></Value>
    </descriptionFieldCaption>
    <descriptionFieldHelpText>
      <Value><![CDATA[Snažte se být co nejkonkrétnější. Popište téma v celých větách, nikoliv několika slovy. Příliš obecně popsaná témata nepostoupí do hlasování.]]></Value>
    </descriptionFieldHelpText>
    <displayCallToAction>
      <Value><![CDATA[1]]></Value>
    </displayCallToAction>
    <emailFieldCaption>
      <Value><![CDATA[Váš e-mail]]></Value>
    </emailFieldCaption>
    <emailFieldHelpText>
      <Value><![CDATA[Zašleme vám na něj informace o schválení tématu do hlasování a budeme vás informovat o dalších fázích projektu."]]></Value>
    </emailFieldHelpText>
    <fileFieldCaption>
      <Value><![CDATA[Nahrát ilustrační obrázek]]></Value>
    </fileFieldCaption>
    <fileFieldHelpText>
      <Value><![CDATA[Tento obrázek použijeme pro prezentaci Vašeho návrhu v rámci hlasování. Prosíme o dostatečně kvalitní obrázek, ke kterému máte autorská práva. Doporučujeme formát na šířku. Maximální velikost obrázku 1 MB.]]></Value>
    </fileFieldHelpText>
    <fileFieldSelectedLabel>
      <Value><![CDATA[Nahrán obrázek:]]></Value>
    </fileFieldSelectedLabel>
    <formDescription>
      <Value><![CDATA[Hledáme témata, která rezonují ve vašem regionu a kterým bychom se na Drbně měli věnovat. Pomozte nám je najít. O navržených tématech budete hlasovat a nejúspěšnější témata zpracujeme.]]></Value>
    </formDescription>
    <mediaStoreFolder>
      <Value><![CDATA[[
  {
    "key": "f154eecc-1987-4410-a687-593ac8cea304",
    "mediaKey": "8b221860-e2eb-450a-9b6e-466ac6533990",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </mediaStoreFolder>
    <reasonFieldCaption>
      <Value><![CDATA[Proč se tímto tématem zabývat?]]></Value>
    </reasonFieldCaption>
    <reasonFieldHelpText>
      <Value><![CDATA[]]></Value>
    </reasonFieldHelpText>
    <regionDropdownValues>
      <Value><![CDATA[Okres 1
Okres 2]]></Value>
    </regionDropdownValues>
    <regionFieldCaption>
      <Value><![CDATA[Vyberte okres]]></Value>
    </regionFieldCaption>
    <selectedInputBorderColour>
      <Value><![CDATA[red]]></Value>
    </selectedInputBorderColour>
    <selectedInputGlowColour>
      <Value><![CDATA[red]]></Value>
    </selectedInputGlowColour>
    <showCollectionProcess>
      <Value><![CDATA[1]]></Value>
    </showCollectionProcess>
    <specificLocationFieldCaption>
      <Value><![CDATA[Upřesněte lokalitu]]></Value>
    </specificLocationFieldCaption>
    <specificLocationSelectorCaption>
      <Value><![CDATA[K jaké lokalitě se téma vztahuje?]]></Value>
    </specificLocationSelectorCaption>
    <specificLocationSelectorSpecifyLocationLabel>
      <Value><![CDATA[Ke konkrétnímu místu, obci nebo městu]]></Value>
    </specificLocationSelectorSpecifyLocationLabel>
    <specificLocationSelectorWholeRegionLabel>
      <Value><![CDATA[K celému kraji]]></Value>
    </specificLocationSelectorWholeRegionLabel>
    <submitButtonBorderColour>
      <Value><![CDATA[]]></Value>
    </submitButtonBorderColour>
    <submitButtonColour>
      <Value><![CDATA[red]]></Value>
    </submitButtonColour>
    <submitButtonHoverBorderColour>
      <Value><![CDATA[]]></Value>
    </submitButtonHoverBorderColour>
    <submitButtonHoverColour>
      <Value><![CDATA[]]></Value>
    </submitButtonHoverColour>
    <submitButtonText>
      <Value><![CDATA[Odeslat téma]]></Value>
    </submitButtonText>
    <targetElementID>
      <Value><![CDATA[komentare]]></Value>
    </targetElementID>
    <termsAndConditions>
      <Value><![CDATA[Souhlasím se zpracováním osobních údajů provozovatelem webu v souladu se zákonem č. 101/2000 Sb., v platném znění (zákon o ochraně osobních údajů a o změně některých zákonů).]]></Value>
    </termsAndConditions>
    <thankYouImage>
      <Value><![CDATA[[
  {
    "key": "daad83a4-4826-426e-98a3-f6f72bd32e57",
    "mediaKey": "58c61459-b392-4c25-a638-b7fe09a1d147",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </thankYouImage>
    <thankYouText>
      <Value><![CDATA[Drbna vám děkuje za váš příspěvek]]></Value>
    </thankYouText>
    <titleFieldCaption>
      <Value><![CDATA[Název tématu]]></Value>
    </titleFieldCaption>
    <titleFieldHelpText>
      <Value><![CDATA[Jasný a úderný. Bude na něm záviset úspěšnost vašeho tématu.]]></Value>
    </titleFieldHelpText>
  </Properties>
</Content>