<?xml version="1.0" encoding="utf-8"?>
<Content Key="e36d1513-ce16-4b13-afe9-af0bb7234d85" Alias="Redirect" Level="2">
  <Info>
    <Parent Key="39ed64c6-0cd7-4ffd-81f7-fc81ee1596dc">Drbna</Parent>
    <Path>/Drbna/Redirect</Path>
    <Trashed>false</Trashed>
    <ContentType>redirectWidget</ContentType>
    <CreateDate>2021-08-29T21:00:26</CreateDate>
    <NodeName Default="Redirect" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4fee6c49-5d44-4dd2-a4c5-2b9a32e1a4a8">RedirectWidget</Template>
  </Info>
  <Properties>
    <callToActionBackgroudColour>
      <Value><![CDATA[#DE000A]]></Value>
    </callToActionBackgroudColour>
    <ctaButtonText>
      <Value><![CDATA[HLASOVAT]]></Value>
    </ctaButtonText>
    <ctaHeading>
      <Value><![CDATA[Hlasujte, o čem by se na Drbně mělo psát!]]></Value>
    </ctaHeading>
    <redirectURL>
      <Value><![CDATA[[{"name":"https://google.com","url":"https://google.com"}]]]></Value>
    </redirectURL>
    <targetElementID>
      <Value><![CDATA[test]]></Value>
    </targetElementID>
  </Properties>
</Content>