<?xml version="1.0" encoding="utf-8"?>
<Content Key="39ed64c6-0cd7-4ffd-81f7-fc81ee1596dc" Alias="Drbna" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Drbna</Path>
    <Trashed>false</Trashed>
    <ContentType>media</ContentType>
    <CreateDate>2021-06-05T20:50:58</CreateDate>
    <NodeName Default="Drbna" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>