<?xml version="1.0" encoding="utf-8"?>
<Content Key="08138577-e013-44ab-b289-d4aa87c6e25c" Alias="Témata pod lupou" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TemataPodLupou</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2021-06-05T20:50:48</CreateDate>
    <NodeName Default="Témata pod lupou" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="28864003-1b05-4c70-9514-48a516eaa47e">Home</Template>
  </Info>
  <Properties />
</Content>